@import url('https://fonts.googleapis.com/css?family=Concert+One');

body{
    background: rgba(0,0,0,0.9);
    margin: 0;
    color: #fff;
    font-family: 'Concert One', cursive;
    
}
/*====================== NAVIGATION STYLE ====================================*/
nav{
    background: rgba(0,0,0,0.9);
    width: 100%;
    z-index: 1;
}
ul{
    margin-left:300px 300px;
    padding:0;
    display:flex;
    transition: all 1000ms;
    
  }
  ul li{
    list-style:none;
    padding:10px 40px;
    
  }
  ul li a{
    text-decoration:none;
    text-transform:uppercase;
    font-size: 2.5em;
    position:relative;
    padding:5px;
    color: #ccc;
  }
  ul li a:hover{
      color:#ff0;
  }
  ul li a span:first-child:before{
    content:'';
    position: absolute;
    top: 0;
    left:0;
    width:8px;
    height:8px;
    background:transparent;
    border-top: 2px solid #ff0;
    border-left:2px solid #ff0;
    transition: .2s;
    opacity: 0;
  }
  ul li a:hover span:first-child:before{
    opacity:1;
    top:-10px;
    left:-10px;
  }
  ul li a:hover span:first-child:after{
    opacity:1;
    top:-10px;
    right:-10px;
  }
  ul li a:hover span:last-child:before{
    opacity:1;
    bottom:-10px;
    left:-10px;
  }
  ul li a:hover span:last-child:after{
    opacity:1;
    bottom:-10px;
    right:-10px;
  }
  ul li a span:first-child:after{
    content:'';
    position: absolute;
    top: 0;
    right:0;
    width:8px;
    height:8px;
    background:transparent;
    border-top: 2px solid #ff0;
    border-right:2px solid #ff0;
    transition: .2s;
    opacity: 0;
  }
  
  ul li a span:last-child:before{
    content:'';
    position: absolute;
    bottom: 0;
    left:0;
    width:8px;
    height:8px;
    background:transparent;
    border-bottom: 2px solid #ff0;
    border-left:2px solid #ff0;
    transition: .2s;
    opacity: 0;
  }
  ul li a span:last-child:after{
    content:'';
    position: absolute;
    bottom: 0;
    right:0;
    width:8px;
    height:8px;
    background:transparent;
    border-bottom: 2px solid #ff0;
    border-right:2px solid #ff0;
    transition: .2s;
    opacity: 0;
  }
.showcase::after{
    content:'';
    height: 100vh;
    width: 100%;
    background-image: url(img/showcase2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    filter: blur(10px);
    -webkit-filter:blur(10px);
    transition: all 1000ms;
    -webkit-transition: all 1000ms;
}

.showcase:hover::after {
    filter: blur(0px);
    -webkit-filter:blur(0px);
}
.showcase:hover .content {
    filter: blur(2px);
    -webkit-filter: blur(2px);
}
.content{
    position: absolute;
    z-index: 1;    
    top: 20%;
    left: 40%;
    width: 300px;
    height: 350px;
    text-align: center;
    transition: all 1000s;
}
.content .logo{
    height: 180px;
    width: 180px;
}
.content .title{
    color: #fff;
    font-size: 4rem;
    margin-top: 1rem;
}
.content .text{
    color:#fff;
    line-height: 1.7;
    margin-top: 1rem;
}
.container{
    max-width: 960px;
    min-height: calc(30vh - 60px);
    margin: auto;
    overflow: hidden;
    padding: 4rem 1rem;
}
.grid-3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    transition: all 1000ms;
}
.grid-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.center{
    text-align: center;
    margin: auto;
}
.bg-light{
    background:#f4f4f4;
    color: #333;
}
.bg-dark{
    background:#333;
    color: #f4f4f4;
}
main{
    padding: 0 4rem;
}
/*======================= About Styles ================================================*/

.about-band{
    display: grid;
    grid-gap: 30px;
    grid-template-areas:
    'bandname bandfull bandfull'
    'bandmate1 bandmate2 bandmate3'
    'bandmate1 bandmate2 bandmate3';
    grid-template-columns: 1fr 1fr 1fr;
    margin-top:70px;
}
.band-title{
    grid-area: bandname;
}

.band-full{
    grid-area: bandfull;    
    margin: auto;
    border-radius: 50%;
    border: #333 4px solid;
}
img.band-full{
    width: 100%;
}
.band-short h1{
    display: inline-block;
}
.band-mate-1{
    grid-area: bandmate1;
}
.band-mate-2{
    grid-area: bandmate2;
}
.band-mate-3{
    grid-area: bandmate3;
}
.mate{
    background:rgba(0,0,0,0.9);
    padding: 0.5rem 1rem;
    border-bottom: #ccc 5px solid;
}
/*=============================Music Styles==========================================*/
.music-band{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr;
    margin-top:70px;
}
/*=============================Gallery Styles==========================================*/
.gallery-container{
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    align-content:flex-start;
    background: #333;
}
.gallery-container>div{
    max-width: 400px;
    margin: auto;
}
.gallery-container img{
    width: 100%;
    height: auto;
    margin: 5px;
    padding: 5px;
    border: 2px dotted red;
}

/*=============================Footer Style==================================================*/
footer{
    padding: 2.1rem;
}
footer p{
    margin: 0;
}
@media(max-width: 887px){
    ul{
        flex-direction: column;

    }
    .showcase::after{
        content:'';
        height: 90vh;
        width: 100%;
        background-image: url(img/showcase2.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: block;
        filter: none;
        -webkit-filter:none;
       
    }
    
    .showcase:hover::after {
        filter: none;
        -webkit-filter:none;
    }
    .showcase:hover .content {
        filter:none;
        -webkit-filter:none;
    }
    .content{
        position: relative;
        z-index: 1;    
        top: 20%;
        left: 50%;
        margin-top: 105px;
        margin-left: -145px;
        width: 300px;
        height: 350px;
        text-align: center;
        transition: all 1000s;
    }
    .about-band{
        grid-gap: 10px;
        grid-template-areas:
        'bandname'
        'bandfull'
        'bandmate1'
        'bandmate2'
        'bandmate3';
        grid-template-columns: 1fr;
        margin-top:70px;
    }
}
/*Small Screens*/
@media(max-width: 560px){
ul li{
    display: block;
}
.showcase::after{
    height: 50vh;
}
.content{
    top: 20%;
    margin-top: 5px;
}
.content .logo{
    height: 140px;
    width: 140px;
}
.content .text{
    display: none;
}

.grid-3,
.grid-2{
    grid-template-columns: 1fr;
}
.services div{
    border-bottom: #333 dashed 1px;
    padding: 1.2rem 1rem;
}
}
/*Landscape*/
@media(max-height: 500px){
    .content-title, .content-text{
        display: none;
    }
    .content{
        top: 0;
    }
}